@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-color: #f1654c;
  --secondary-color: #445164;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Inter", serif;
}

.container {
  width: 1500px;
  margin: 0 auto;
}

/* header style start */

.headerBackgroundColor {
  background-color: var(--white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo {
  font-size: 30px;
  font-weight: 700;
}

.headerParent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}

.headerMenu {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 14px;
}

.headerMenu li {
  text-decoration: none;
  list-style: none;
  color: var(--secondary-color);
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
}
.headerMenu li:hover {
  color: var(--primary-color);
  transition: 0.3s ease;
}
.line::after {
  content: "";
  width: 1px;
  height: 16px;
  background-color: rgb(214, 218, 225);
  position: absolute;
  right: -21px;
}

.logInBtn {
  color: var(--white);
  background-color: var(--primary-color);
  padding: 14px 25px;
  border-radius: 6px;
  font-weight: 600;
  border: none;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.menu {
  display: none;
  position: relative;
}
.menuList {
  position: absolute;
  background-color: var(--white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  right: 2px;
  padding: 10px;
  display: none;
  transition: 0.3s ease;
}
.hamburgerMenuList li {
  font-size: 10px;
  text-decoration: none;
  list-style: none;
  color: var(--secondary-color);
  margin: 10px 0px;
  transition: 0.3s ease;
}

.hamburgerMenuList li:hover {
  color: var(--primary-color);
  transition: 0.3s ease;
}

.menuActive {
  display: block;
  animation: slideIn 0.3s ease;
}

.menuShowActive {
  transition: 0.3s ease;
  transform: rotate(90deg);
}

.hamburgerMenu {
  transition: 0.3s ease;
}

@keyframes slideIn {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(0);
  }
}
/* header style end */

/* banner style start */

.bannerLeft h2 {
  font-size: 55px;
  font-weight: 800;
  width: 600px;
  line-height: 80px;
}

.bannerLeft p {
  font-size: 18px;
  color: var(--secondary-color);
  width: 600px;
  line-height: 25px;
  margin: 25px 0px 30px 0px;
}

.bannerLeft button {
  color: var(--white);
  background-color: var(--primary-color);
  padding: 15px 30px;
  border-radius: 6px;
  font-weight: 600;
  border: none;
}

.bannerParent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px 0px;
  padding: 0px 6px;
}

.imageParent {
  position: relative;
}
.firstImage {
  width: 400px;
  border-radius: 10px;
}
.secondImage {
  width: 300px;
  border-radius: 10px;
}

.thirdImage {
  width: 350px;
  border-radius: 10px;
}

.secondImageParent {
  position: absolute;
  top: 220px;
  right: 330px;
}

.thirdParent {
  position: absolute;
  top: 12px;
  right: 340px;
}

/* banner style end */

@media only screen and (max-width: 640px) {
  /* header style */

  .container {
    width: 100%;
    margin: 0 auto;
  }
  .middle {
    display: none;
  }
  .logo {
    font-size: 20px;
  }
  .headerParent {
    padding: 10px 10px;
  }
  .rightSide {
    display: none;
  }
  .menu {
    display: block;
  }
  .hamburgerMenu {
    width: 35px;
    height: 35px;
  }

  /* banner style */
  .bannerParent {
    flex-direction: column;
    gap: 20px;
  }
  .thirdParent {
    display: none;
  }
  .secondImageParent {
    display: none;
  }

  .bannerLeft h2 {
    font-size: 30px;
    width: 100%;
    line-height: 40px;
  }

  .bannerLeft p {
    width: 100%;
    line-height: 25px;
    margin: 15px 0px 20px 0px;
  }

  .bannerLeft button {
    padding: 15px 20px;
  }
  .bannerParent {
    margin: 20px 0px;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* header style */
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .logo {
    font-size: 20px;
  }
  .headerMenu {
    gap: 20px;
    font-size: 14px;
  }
  .logInBtn {
    padding: 8px 14px;
  }
  .profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .headerMenu {
    font-size: 12px;
  }
  .headerParent {
    padding: 10px 10px;
  }

  /* banner style */

  .firstImage {
    width: 230px;
  }
  .secondImage {
    width: 200px;
  }
  .thirdImage {
    width: 160px;
  }

  .bannerLeft h2 {
    font-size: 30px;
    width: 400px;
    line-height: 40px;
  }

  .bannerLeft p {
    width: 330px;
    line-height: 25px;
    margin: 15px 0px 20px 0px;
  }
  .secondImageParent {
    top: 110px;
    left: -140px;
  }
  .thirdParent {
    top: 5px;
    left: -150px;
  }

  .bannerLeft button {
    padding: 15px 20px;
  }

  /* ClanBook  style */
}
